{{> header-profile }}

{{> side-menu }}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="justify-content-center align-items-center pt-2 pb-1 mb-2 border-bottom">
    <h2>{{title}}</h2>
  </div>

<div class="container">
  <main>
    <div class="py-4 text-center">
      <img class="d-block mx-auto mb-4" id = "QWERT" src="img/bermix-studio-j5oosEjdNG8-unsplash.jpg" alt="" width="152" height="127">
        

{{#if errors}}
  {{#each errors}}
    <div class="alert alert-danger">
  {{this.msg}}
    </div>
  {{/each}}
{{/if}}
    </div>
    <div class="row g-3">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-center align-items-center mb-0">
          <span class="text-muted mb-2">Shopping cart</span>
        </h4>
        <ul class="list-group mb-3">

              {{#if services}}
              {{#each services}}
                <li class="list-group-item d-sm-flex justify-content-between lh-sm">
                  <div>
                    <h6 class="my-0">{{this.item.service_name}}</h6>
                    <small>Quantity: {{this.qty}} {{this.item._id}}</small>
                    <div><a href="/remove/{{this.item.id}}" class="remove">Remove</a></div>
                  </div>
                  <span class="text-muted">${{this.price}}</span>
              </li>
            {{/each}}
            <li class="list-group-item d-sm-flex justify-content-between">
                <span>Total (AUD)</span>
                <strong>${{ this.totalPrice }}</strong>
              </li>

            </ul>
            
              <form class="card p-2">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Promocode">
                <button type="submit" class="btn btn-secondary">Apply</button>
              </div>
            </form>
              {{else}}
                <h4 class="my-0 text-center">Your shopping cart is empty :(</h4>
                    </ul>
              {{/if}}
              
          </div>
          <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">Customer's details</h4>
            <form class="needs-validation" novalidate method="POST" action="/cart">
              <div class="row g-3">
                <div class="col-sm-6">
                  <label for="firstName" class="form-label">Given name</label>
                  <input type="text" name ="firstName" class="form-control" placeholder="Oliver" id="firstName">
                </div>

                <div class="col-sm-6 ">
                  <label for="lastName" class="form-label">Family name (optional)</label>
                  <input type="text" name ="lastName" class="form-control" id="lastName" placeholder="Smith" id="lastName">
                </div>

                <div class="col-sm-6 mt-2" >
                  <label for="phone" class="form-label">Phone</label>
                  <input type="text" name ="phone" class="form-control" placeholder="(04) 1234 5678" id="phone">
                </div>

                <div class="col-12 mt-2">
                    <label for="address" class="form-label">Address</label>
                    <input type="text" name ="address" class="form-control" placeholder="12 Victoria street, Essendon, VIC, 3088" id="address" required>
                    

                <div class="form-check mt-2">
                    <input type="checkbox" name="saveInfo" class="form-check-input" id="saveInfo" value="true" />
                    <label class="form-check-label" for="saveInfo">Save this information for a faster checkout next time</label>
                </div>

                <div class="mb-3 mt-2">
                    <label for="exampleFormControlTextarea1" class="form-label">Short description of the problem (optional)</label>
                    <textarea class="form-control" name ="orderDescription" rows="4"></textarea>
                </div>           
              </div>

            <button class="w-100 btn btn-primary btn-lg mt-5" type="submit" {{#if session.cart.totalQuantity}}{{else}} disabled {{/if}}>Place order</button>
            </form>
          </div>
        </div>
      </main>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2020–2021 Tramlaw</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
      </footer>
    </div>
  </body>
</html>

{{> footer-end }}